In [12]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
import urllib
import urllib.request
import time

In [13]:
final_job_list=['Data Scientist',
 'Data Analyst',
 'Database Administrator',
 'Business Analyst',
 'Machine Learning',
 'Artificial Intelligence',
 'Deep Learning',
 'Big Data Engineer',
 'Cloud Services Developer',
 'Full Stack Developer',
 'Network Architect',
 'Software Developer',
 'Robotics',
 'VLSI Engineer',
 'Embedded Systems Engineeering',
 'Electronics Engineer',
 'Mechanical Engineer',
 'Electrical Engineer',
 'Mechatronics Engineer',
 'Civil Engineer',
 'Cybersecurity Engineer',
 'UI UX Designer']

In [14]:
job_list_final=pd.DataFrame({"job_title":final_job_list})

In [15]:
job_list_final.to_csv(r'job_list_final.csv',index=None,header=True)

In [16]:
job_list_final

                        job_title
0                  Data Scientist
1                    Data Analyst
2          Database Administrator
3                Business Analyst
4                Machine Learning
5         Artificial Intelligence
6                   Deep Learning
7               Big Data Engineer
8        Cloud Services Developer
9            Full Stack Developer
10              Network Architect
11             Software Developer
12                       Robotics
13                  VLSI Engineer
14  Embedded Systems Engineeering
15           Electronics Engineer
16            Mechanical Engineer
17            Electrical Engineer
18          Mechatronics Engineer
19                 Civil Engineer
20         Cybersecurity Engineer
21                 UI UX Designer

In [18]:
#job_titles

In [19]:
jobs=pd.read_csv('job_list_final.csv')

In [20]:
job_list=list(jobs.job_title)

In [21]:
job_list

['Data Scientist',
 'Data Analyst',
 'Database Administrator',
 'Business Analyst',
 'Machine Learning',
 'Artificial Intelligence',
 'Deep Learning',
 'Big Data Engineer',
 'Cloud Services Developer',
 'Full Stack Developer',
 'Network Architect',
 'Software Developer',
 'Robotics',
 'VLSI Engineer',
 'Embedded Systems Engineeering',
 'Electronics Engineer',
 'Mechanical Engineer',
 'Electrical Engineer',
 'Mechatronics Engineer',
 'Civil Engineer',
 'Cybersecurity Engineer',
 'UI UX Designer']

In [138]:
def extract_job_urls_from_result(soup): 
    urls = []
    for div in soup.find_all(name = "div", attrs = {"class":"row"}):
        for a in div.find_all(name = "a", attrs = {"data-tn-element":"jobTitle"}):
            this_url = a['href']
            to_go_url = "https://www.indeed.com/viewjob" + this_url[7:]
            urls.append(to_go_url)
    return(urls)

In [157]:
whole_data=pd.DataFrame({'Job_Title':[],'Description':[]})

In [181]:
for job in job_list:
    Job_Title=[]
    Description=[]
    listing_urls_list = []
    for start in range(0, 620, 10):
        URL="https://www.indeed.co.in/jobs?q="+job.replace(' ', '+')+"&start="+str(start)
        listing_urls_list.append((job, URL))
    jobs_url=[]
    for job,url in listing_urls_list:
        response=requests.get(url)
        page = response.content
        time.sleep(1)
        soup = BeautifulSoup(page,"html.parser", from_encoding="utf-8")
        found_url=extract_job_urls_from_result(soup)
        for u in found_url:
            jobs_url.append((job,u))
    for job,url in jobs_url:
        Job_Title.append(job)
        page = requests.get(url)
        soup = BeautifulSoup(page.text, "html.parser")
        spans = soup.findAll('div', attrs={"class": "jobsearch-jobDescriptionText"})
        for span in spans:
            Description.append(span.text.strip())
    Job_Title=Job_Title[0:600]
    Description=Description[0:600]
    if(len(Description)<600):
        k=600-len(Description)
        Description=Description+Description[0:k]
    scraped_data = pd.DataFrame({'Job_Title':Job_Title, 'Description': Description})
    #scraped_data=scraped_data.assign(job_title=job)
    frames = [whole_data, scraped_data]
    whole_data = pd.concat(frames)

In [7]:

whole_data

NameError: name 'whole_data' is not defined

In [186]:
data=whole_data

In [192]:
import re

In [217]:
Job_Title=list(whole_data.Job_Title)

In [184]:
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

import pandas as pd

In [211]:
lemmatizer = WordNetLemmatizer()
symbols_to_ignore = ['(', ')', '.', '\\', ':', '%', '’','/','-','&']
to_ignore = stopwords.words('english')
to_ignore.extend(symbols_to_ignore)
to_ignore.extend(extra)

In [210]:
extra=['delhi','hyderabad','bangalore','patna','new york','role','responsibilites','manage','management','successful','knowledge','help','skill','professional','salary','disability','join',' ']

In [204]:
cleaned_jobs=[]
cleaned_jobs=list(whole_data.Description)

In [206]:
for i in range(len(cleaned_jobs)):
    cleaned_jobs[i] = re.sub("[^a-zA-Z]", " ",cleaned_jobs[i])

In [229]:
#cleaned_jobs

In [230]:
new_cleaned_jobs = []
for job in cleaned_jobs:

	#Convert to lowercase and remove some symbols from the start
    lower_job = job.lower().replace(',', '').replace('_', '').replace(';', '')
    
    #Tokenize into words
    words_1 = word_tokenize(lower_job)

    #Lemmatize the words
    words_2 = [lemmatizer.lemmatize(w) for w in words_1]

    #Skip stopwords and some extra symbols (see line 3)
    words_3 = [w for w in words_2 if not w in to_ignore]

    #Join the tokens into a string and store it
    clean_job = " ".join(words_3)
    new_cleaned_jobs.append(clean_job)

KeyboardInterrupt:

In [ ]:
cleaned_dataset=pd.DataFrame({'Job_Title':Job_Title,'Description':new_cleaned_jobs})

In [219]:
cleaned_dataset

            Job_Title                                        Description
0      Data Scientist  responsibility create maintain optimal data pi...
1      Data Scientist  provide extensive high quality cost efficient ...
2      Data Scientist  scam alert caution fraudulent job offer info s...
3      Data Scientist  thsti job data scientist vacancy array publish...
4      Data Scientist  functional analytics lead job detail work seni...
5      Data Scientist  job description analyze data bring insight sol...
6      Data Scientist  introduction sa developer data scientist ibm t...
7      Data Scientist  overview design develops program data science ...
8      Data Scientist  data scientist machine learning developer live...
9      Data Scientist  keyskills hand r programming job description j...
10     Data Scientist  data scientist profile applied ml nissan pione...
11     Data Scientist  job title data scientist department analytics ...
12     Data Scientist  u data analyst crucial working analyzing large...
13     Data Scientist  data analyst position overview someone love re...
14     Data Scientist  position description lenovo fastest growing te...
15     Data Scientist  data scientist lf preferred qualification prof...
16     Data Scientist  year gurgaon mumbai pune chennai job descripti...
17     Data Scientist  passionate data scientist want drive business ...
18     Data Scientist  summary posted jan number people apple build p...
19     Data Scientist  keyskills hand r programming job description j...
20     Data Scientist  job description analyze data bring insight sol...
21     Data Scientist  position data science experience year location...
22     Data Scientist  data intern description responsibility positio...
23     Data Scientist  locality foot road haripur midc kupwad sangli ...
24     Data Scientist  requirement b degree computer science math exp...
25     Data Scientist  greystone national financial service private i...
26     Data Scientist  overview design develops program data science ...
27     Data Scientist  looking strong background machine learning sta...
28     Data Scientist  iqvia leading human data science company focus...
29     Data Scientist  india position description main activity respo...
...               ...                                                ...
20970  UI UX Designer  looking user experience ux designer able under...
20971  UI UX Designer  senior ui ux designer p job description lookin...
20972  UI UX Designer  job description ui designer html cs yr qualifi...
20973  UI UX Designer  draw crush excellent user experience ux user i...
20974  UI UX Designer  qualification experience b f graduate photosho...
20975  UI UX Designer  ui ux designer looking experienced ux ui desig...
20976  UI UX Designer  experience year opening position overview desi...
20977  UI UX Designer  responsibility provide detailed design interac...
20978  UI UX Designer  looking ui ux designer turn software easy use ...
20979  UI UX Designer  experience year work location jaipur base loca...
20980  UI UX Designer  job description self starter excited learn imp...
20981  UI UX Designer  job summary year relevant work experience expe...
20982  UI UX Designer  job description engineerbabu looking ui ux des...
20983  UI UX Designer  saba currently seeking junior intermediate ui ...
20984  UI UX Designer  planning designing apps website working softwa...
20985  UI UX Designer  ui ux designer hand experience designing user ...
20986  UI UX Designer  looking ui ux designer u scale greater height ...
20987  UI UX Designer  looking dreamer challenge status quo come futu...
20988  UI UX Designer  ui ux designer experience ui ux designer greet...
20989  UI UX Designer  looking experienced creative ui ux designer te...
20990  UI UX Designer  design user experience ux forefront everything...
20991  UI UX Designer  required experience adobe tool like photoshop ...
20992  UI UX Designer  collaborate marketing product marketing teamma...
20993  UI UX Designer  ui ux designer opening quarter pie interactive...
20994  UI UX Designer  looking senior ux designer u solution create m...
20995  UI UX Designer  ux interaction designer nissan pioneer innovat...
20996  UI UX Designer  yro system chennai venture started comprehensi...
20997  UI UX Designer  job description great team player experienced ...
20998  UI UX Designer  must strong photoshop illustrator corel draw e...
20999  UI UX Designer  need able gather evaluate user requirement ill...

[21000 rows x 2 columns]

In [220]:
cleaned_dataset.to_csv(r'cleaned_dataset.csv',index=None,header=True)

In [144]:
whole_data.to_csv(r'whole_data_scraped_first.csv',index=None,header=True)